body{
    font-size: 20px;
    background-color: #f4f4f4;
    margin:0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
    margin: 0;
}

header{
    background-color: #000;
    display: block;
    overflow: hidden;
    margin: 0 auto 0 auto;
    border-top: 4px solid #feea34;
}

header h1 {
    float: left;
    width: 75px;
    margin: 0;
}
header nav{
    float: right;
   
}
img{
    max-width: 100%;
    vertical-align: bottom;
    margin: 0;
}

div.wrap{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}

.hero h2{
    font-size: 36px;
    max-width: 480px;
    font-weight: 700;
    margin: 0;
}
.hero h3{
    font-size: 24px;
    font-weight: 300;
    max-width: 400px;
    margin-top: 20px;
}
section.hero{
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center right;
}
div.font{
padding-top: 90px;
padding-bottom: 90px;

}

.products{
    margin-bottom: 40px;
}
a.selected{
    border-bottom: 4px solid #feea34;
    font-weight: 600;
}

nav.filters{

    margin-top: 40px;
    margin-bottom:20px;
   
}

.filters a{
    margin-right: 10px;
    text-decoration: none;
    color: #000;
 
}
.filters ul{
    margin-top:10px;
    list-style: none;
    padding: 0;

}

.filters li{

    display: inline;
    margin-right: 10px;
    list-style: none;
}

.filters .show-filters{
    color: #bfbfb7;
    display: none;
}
.product{
    position: relative;
    float: left;
    width: 320px;
    display: block;
    background-color: #feea34;
    
}

div.product h4{
    position: absolute;
    top:20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition: all 0.3s;
    z-index: 2;
    font-size: 24px;
}

div.product p{
    position:absolute;
    bottom:20px;
    left: 20px;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    opacity: 0;
    transition: all 0.3s;
}
.product img:hover {
    opacity: 0.25;
transition: all 0.5s;
}

.product:hover h4{
    opacity: 1;
}
.product:hover p{
    opacity: 1;
}

img{
    max-width: 100%;
}

@media (max-width:860px){
    div.font{
        padding-top: 50px;
        padding-bottom:50px;
    }
}

@media (max-width:1000px){
    div.wrap{
        max-width: 640px;
    }
}

@media (max-width:680px){

    div.product{
        width: auto;
        margin-bottom: 20px;
        font-size: 16px;
    }
    div.wrap{
        margin: auto 30px;
    }
    .hero h2{
        font-size:24px;
    }
    .hero h3{
        font-size: 18px;
    }
    section.hero{
        background-image: none;
        background-color: #bfbfb7;
    }
    div.font{
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .filters .show-filters{
        display: block;
        margin: 0px;
        cursor: pointer;
    }
    .filters li{
        display: block;
        margin-bottom: 4px;
    }
    .filter-list{
        display: none;
    }
    
}

@media (min-width:680px){
    .filter-list{
        display: block !important;
    }
}

